*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}



.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    background-color: #232323;
  }
  
  .h1 {
    display: flex;
    color: white;
    padding: 10px;
  }
  
  .list1 {
    width: 100%;
    text-align: center;
  }
  .toggle {
    font-size: 30px;
    color: white;
    cursor: pointer;
    display: none;
  }
  .list1 ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  .list1 ul li {
    list-style: disc;
    color: white;
    padding: 5px;
    font-weight: 800;
    list-style: none;
  }
  
  .list1 ul li a {
    color: white;
    font-size: 25px;
    font-weight: 700;
    text-decoration: none;
    
  }
  
  .list1 ul li a:hover {
    color: gray;
  }

  

.body6 {
    width: 85%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  .body6-img {
    display: flex;
    justify-content: center;
  }
  
  .body6-data {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: auto;
    gap: 30px;
    margin-top: 10px;
    padding: 10px;
  }
  
  .input {
    padding: 15px 0px;
    border-radius: 20px;
    border: 1px solid gray;
    padding-left: 10px;
  }
  
  .input4 {
    width: 100%;
    height: 200px;
  }
  
  .body6 button {
    display: flex;
    margin: auto;
    padding: 15px 0px;
    width: 15%;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    border: solid 1px gainsboro;
    background-color: #fec913;
    font-size: 15px;
    color: white;
    font-weight: 700;
  }
  
  .body7 {
    width: 85%;
    margin: auto;
    /* margin: 10px 0px; */
  }
  
  .body7 img {
    width: 100%;
    margin: 20px 0px;
  }
  
  .footer {
    width: 100%;
  
    height: 100%;
    background-color: #232323;
  }
  
  .footer-container {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    padding-bottom: 20px;
  }
  
  .aboutshop {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    width: 19%;
    height: 100%;
  }
  
  h3 {
    font-size: 30px;
    padding: 10px;
  }
  
  .address {
    display: flex;
    gap: 10px;
  }
  
  .address i {
    font-size: 30px;
  }
  
  .phone {
    display: flex;
    gap: 10px;
  }
  
  .phone i {
    font-size: 30px;
  }
  .email {
    display: flex;
    gap: 10px;
  }
  .email i {
    font-size: 30px;
  }
  
  .inf {
    width: 19%;
    color: white;
  
    /* border: solid; */
    /* margin-left: 50px; */
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* justify-content: center; */
  }
  
  .insta {
    /* border: solid white; */
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    /* flex-direction:row; */
    width: 19%;
    gap: 5px;
    align-items: center;
    /* justify-content: center; */
    color: white;
  }
  .block1 {
    /* border: solid; */
    width: 100%;
    display: flex;
    justify-content: center;
    column-gap: 5px;
  }
  .insta-img {
    width: 20%;
    background-color: white;
    /* height: 10%; */
  }
  
  .Newsletter {
    color: white;
    /* border: solid white; */
    width: 19%;
  }
  
  .Newsletter input {
    display: flex;
    border: solid white;
    width: 70%;
    padding: 5px;
    margin: 10px 0px;
    border-radius: 7px;
  }
  
  .Newsletter button {
    padding: 10px;
    color: white;
    background-color: #fbca47;
    border: none;
    border-radius: 7px;
    margin: 10px 0px;
    cursor: pointer;
  }
  
  .list0 ul {
    display: flex;
    align-items: center;
    color: white;
  }
  
  .list0 ul li {
    padding: 5px;
    font-size: 30px;
  }
  
  .list0 ul a {
    color: white;
  }
  .list0 ul a:hover {
    color: #fbca47;
  }
  
  .copy-right {
    border-top: solid white;
    width: 60%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  
  .copy-right h5 {
    color: white;
    padding: 20px;
  }
  
  